/**
 * @name bd-Plata
 * @author emil1003
 * @source https://github.com/emil1003/bd-Plata.git
 * @version 0.3.0
 * @description A theme to match the Plata GTK theme.
 * Includes support for light and dark (Lumine/Noir) variants.
 */

/* Set base variables */
:root {
	--background-primary: var(--plata-primary);
	--background-secondary: var(--plata-primary);
	--background-secondary-alt: var(--plata-primary);
	--background-tertiary: var(--plata-secondary);
	--channeltextarea-background: var(--plata-secondary);

	--background-mentioned: rgba(var(--plata-rgb-accent),0.05);
	--background-mentioned-hover: rgba(var(--plata-rgb-accent),0.1);

	--scrollbar-thin-thumb: var(--plata-secondary);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: var(--plata-secondary);
	--scrollbar-auto-track: transparent;
}

/* Inherit colors from Plata-Lumine */
.theme-light {
	--plata-primary: #f8f8f8;
	--plata-secondary: #e7e7e7;
	--plata-accent: #8ab4f8;
	--plata-rgb-accent: 138, 180, 248;
}

/* Inherit colors from Plata-Noir */
.theme-dark {
	--plata-primary: #1d1d1d;
	--plata-secondary: #080808;
	--plata-accent: #8ab4f8;
	--plata-rgb-accent: 138, 180, 248;
}

/* Color mentioned message left margin */
.message-2qnXI6.mentioned-xhSam7:before {
	background: var(--plata-accent) !important;
}

/* Fix friendlist redesign header using static values */
.container-1D34oG {
	background-color: var(--background-secondary) !important;
}

/* Add rounded corner on server header (as is on Windows) */
.app-focused .layers-3q14ss > div > div > .base-3dtUhz {
	border-radius: 10px 0 0 0;
}

/* Recolor servers list when unfocused... */
nav > ul > .scroller-1Bvpku {
	background: var(--background-primary);
}

/* ..and give it back when focused (:not, y u no work)*/
.app-focused nav > ul > .scroller-1Bvpku {
	background: var(--background-tertiary);
}

/* Remove messageGroup border in pinned messages */
.messageGroupWrapper-o-Zw7G {
	border: none;
}
