/**
 * @name bd-Plata
 * @author emil1003
 * @source https://github.com/emil1003/bd-Plata.git
 * @version 0.1.1
 * @description A theme to match the Plata GTK theme.
 * Includes support for light and dark (Lumine/Noir) variants.
 */

:root {
	--plata-accent: #00bcd4;
	--plata-rgb-accent: 0,188,212;
	--background-mentioned: rgba(var(--plata-rgb-accent),0.05);
	--background-mentioned-hover: rgba(var(--plata-rgb-accent),0.1);
}

/* Inherit colors from Plata-Lumine */
.theme-light {
	--background-primary: #f8f8f8;
	--background-secondary: #f8f8f8;
	--background-tertiary: rgba(231,231,231,1);
	--channeltextarea-background: #e7e7e7;
}

/* Inherit colors from Plata-Noir */
.theme-dark {
	--background-primary: #1d1d1d;
	--background-secondary: #1d1d1d;
	--background-tertiary: rgba(8,8,8,1);
	--channeltextarea-background: #080808;
}

/* 	Restyle scrollbar, as it uses static values */
.da-scroller::-webkit-scrollbar {
	width: 4px;
}

.da-scroller::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border: none !important;
}

.da-scroller::-webkit-scrollbar-thumb {
	background-color: var(--background-tertiary) !important;
	border: none;
}

/* Color mentioned message left margin */
.da-message.da-mentioned:before {
	background: var(--plata-accent) !important;
}

/*	Fix friendlist redesign header using static values */
.da-friendsTable {
	background-color: var(--background-secondary);
	margin-top: 0;
	padding-top: 8px;
}

/*	Add rounded corner on server header (as is on Windows) */
.da-layers > div > div > .da-base {
	border-radius: 10px 0 0 0;
}

/* Recolor various panels */
.da-sidebar .da-panels {
	background-color: var(--background-secondary);
}

.da-content > .da-container {
	background-color: var(--background-primary);
}

/* Remove messageGroup border in pinned messages */
.da-messageGroupWrapper {
	border: none;
}

