/**
 * @name bd-Plata
 * @author emil1003
 * @source https://github.com/emil1003/bd-Plata.git
 * @version 0.2.1
 * @description A theme to match the Plata GTK theme.
 * Includes support for light and dark (Lumine/Noir) variants.
 */

/* Set base variables */
:root {
	--background-primary: var(--plata-primary);
	--background-secondary: var(--plata-primary);
	--background-tertiary: var(--plata-secondary);
	--channeltextarea-background: var(--plata-secondary);

	--background-mentioned: rgba(var(--plata-rgb-accent),0.05);
	--background-mentioned-hover: rgba(var(--plata-rgb-accent),0.1);

	--scrollbar-thin-thumb: var(--plata-secondary);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: var(--plata-secondary);
	--scrollbar-auto-track: transparent;
}

/* Inherit colors from Plata-Lumine */
.theme-light {
	--plata-primary: #f8f8f8;
	--plata-secondary: #e7e7e7;
	--plata-accent: #8ab4f8;
	--plata-rgb-accent: 138, 180, 248;
}

/* Inherit colors from Plata-Noir */
.theme-dark {
	--plata-primary: #1d1d1d;
	--plata-secondary: #080808;
	--plata-accent: #8ab4f8;
	--plata-rgb-accent: 138, 180, 248;
}

/* Color mentioned message left margin */
.da-message.da-mentioned:before {
	background: var(--plata-accent) !important;
}

/* Fix friendlist redesign header using static values */
.da-friendsTable {
	background-color: var(--background-secondary);
	margin-top: 0;
	padding-top: 8px;
}

/* Add rounded corner on server header (as is on Windows) */
.app-focused .da-layers > div > div > .da-base {
	border-radius: 10px 0 0 0;
}

/* Recolor servers list when unfocused... */
nav > ul > .da-scroller {
	background: var(--background-primary);
}

/* ..and give it back when focused (:not, y u no work)*/
.app-focused nav > ul > .da-scroller {
	background: var(--background-tertiary);
}

/* Recolor various panels */
.da-sidebar .da-panels {
	background-color: var(--background-secondary);
}

.da-content > .da-container {
	background-color: var(--background-primary);
}

/* Remove messageGroup border in pinned messages */
.da-messageGroupWrapper {
	border: none;
}
